
body, html {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.root{
  height: 100vh;
  width: 100vw;

}

.features { 
  border: 1px solid #cccccc;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  background-color: lightgray;
}

.feature { 
  border: 1px solid #cccccc;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  background-color: silver;
}

.context { 
  border: 1px solid #cccccc;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  background-color: darkgrey;
}

.event { 
  border: 1px solid #cccccc;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  background-color: grey;
}

.sentence { 
  border: 1px solid #cccccc;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  background-color: dimgray;
}
